.control {
    grid-area: control;
    position: relative;
}
.control > button {
    margin-top: 30px;
}
.control :first-child {
    margin-top: 40px;
}

@media all and (max-width: 768px) {
    .control {
        text-align: center;
    }
    .control > button {
        display: inline-block;
        margin-top: 0;
        margin-left: 3%;
    }
    .control :first-child {
        margin-top: 0;
        margin-left: 0;
    }
}
